<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
    <div class="container">
        <a href="/" class="navbar-brand"><img style="width: 50px" src="https://imgur.com/aUxT32J.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav">
            <span class="navbar-toggle-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mobile-nav">
            <ul class="navbar-nav">
                <li class="nav-item <%if (active == 'home')  { %> active <% } %> ">
                    <a href="/" class="nav-link"><i class="fas fa-home"></i>  Homepage</a>
                </li>
            </ul>

            <ul class="navbar-nav">
                <li class="nav-item <%if (active == 'deposit')  { %> active <% } %> ">
                    <a href="/deposit" class="nav-link">Deposit</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link disabled">Users online: <span id="online">0</span></a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto"></ul>
                <%if (user) { %>
                    <li class="nav-item">
                        <button type="button" class="btn btn-secondary">
                            <img style="width: 20px; height: 20px" class="rounded-circle" src="<%- user.avatar.small %>" />
                            <%- user.username %>
                        </button>
                    </li>
                    <li class="nav-item">
                        <a href="/logout">
                            <button type="button" class="btn btn-info">
                                <i class="fas fa-sign-out-alt"></i>  Wyloguj
                            </button>
                        </a>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a href="/authenticate">
                            <img src="https://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_02.png" />
                        </a>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>