<h2>Deposit page <a href="/deposit/refresh">(refresh)</a></h2>

<% console.log(inventory) %>

<% if(inventory.forEach) { %>
    <% inventory.forEach(function(item) { %>
            <!--<div name="card" id="card" class="card p-2">
                <a class="card-block stretched-link text-decoration-none" href="#">
                    <h4 class="card-title"><%= item.name %></h4>
                    <img style="max-width: 50px; max-height: 50px" src="https://steamcommunity.com/economy/image/<%= item.icon_url %>" />
                </a>
            </div>
            <br>-->
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="<%= item.id %>"/>
                <label class="custom-control-label" for="<%= item.id %>"><img style="max-width: 25px; max-height: 25px" src="https://steamcommunity.com/economy/image/<%= item.icon_url %>"/> <%= item.name %></label>
            </div>
    <% }); %>
<% } else { %>
    Brak przedmiotów lub Twoje konto jest prywatne.
<% } %>