<html>
    <head>
        <meta charset="UTF-8" />
        <title>CS:GO</title>

        <!-- stylesheets -->
        <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css"/>

        <!-- scripts -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap-toasts/dist/bootstrap-toasts.js"></script>
        <script src="http://localhost:5000/socket.io/socket.io.js"></script>
        
        <script>
            var socket = io();

            socket.on('online', (count) => {
                document.getElementById('online').innerHTML = count;
            });

            /*socket.on('tweet', (data) => {
                //bootstrapToasts('Hej, coś poszło nie tak!', 'Tutaj będzie treść błędu, np zaloguj się.', 'danger', 3, 'bottomRight')
                //console.log(data)
            });*/
        </script>
        <script src="https://kit.fontawesome.com/7e877990ab.js"></script>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>

    <body>
        <%- include('inc/navbar', {active: child, user: user}); %>
        <div class="container">
            <%- include(child); %>
        </div>
    </body>
</html>